@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)!</h1>
    <p>LHPets versão por <a href="https://github.com/panppa" target="_blank" style="color: red;">.pan</a></p>
</div> 
